*{
    color: blue;
    background-color:  rgb(189, 208, 120);
    font-size: 20px;
}
p{
    color: black;
}
.first{
    color: red;
    background-color: rgb(90, 90, 59);
}
.second{
    color: green;
    background-color: white;
}
.third{
    color: blue;
    background-color: azure;
}